<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head.ejs") %>
</head>
<body>
<div class="container">
  <h1>Xin chao các bạn</h1>
  <div class="col-md-3">
      <form action="/tin-tuc" method="get">
          <input class="form-control" type="text" name="TenSP" />
          <button type="submit" class="btn btn-primary">Search</button>
      </form>
  </div>

<ul class="col-md-6">
    <%
        // o day viet code js
        for(var i=0;i<products.length;i++){ %>
            <li><%= products[i].TenSP %>
                -- Giá tiền:
                <% if(products[i].Gia<=20){ %>
                    <i><%= products[i].Gia %></i>
                <% }else{ %>
                    <b><%= products[i].Gia %></b>
                <% }%>
            </li>
    <%    }  %>
</ul>
</div>
</body>
</html>